<header class="ola">
  <div class="scroll">
      <div class="first-bar">
          <div class="promo"><a href="#">Ofrecemos servicios dentales de alta calidad. ¡Conócelos!</a></div>
          <div class="social">
              <ul>
                  <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="second-bar">
          <div class="nav-father">
              <div class="nav-child__1">
                  <a class="logo not-style" href="">
                      <p class="local-name">
                          <img src="assets/imagenes/home/img.png" alt="">
                      </p>
                  </a>
              </div>
              <div class="nav-child__2">
                  <div class="container-search">
                      <i class="fa fa-search search-icon" aria-hidden="true"></i>
                      <input type="text" class="search" placeholder="¿Qué estás buscando?">
                      <button class="btn-search">Buscar</button>
                  </div>
              </div>
              <div class="nav-child__3">
                  <div class="obj"><a routerLink="/login" class="user-name">Iniciar Sesión</a></div>
              </div>
          </div>
      </div>
      <br>
      <div class="third-bar">
          <nav class="">
              <div class="nav-child__4">
                  <ul>
                      <li><a routerLink="/" id="inicio"><span class=""><i
                                      class="icon fa fa-house"></i></span>Inicio</a></li>
                      <li><a routerLink="/servicios"> <span class=""><i class="icon fa-solid fa-tooth"></i></span>Servicios</a></li>
                      <li><a routerLink="/somos"> <span class=""><i class="icon fa-solid fa-circle-info"></i></span>¿Quienes Somos?</a></li>
                      <li><a routerLink="/contacto"><span class=""><i class="icon fa-solid fa-comments"></i></span>Contacto</a></li>

                  </ul>
              </div>
          </nav>
      </div>
  </div>
</header>
