<style>
    i{
color: blue;
    }
</style>

<footer>
    <div class="footer">
        <div class="container-lists">
            <div class="footer-list">
                <div class="no-wrap h3">Contáctanos</div>
                <ul class="list">

                    <li>
                        <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
                        <a href="#" class="no-wrap">Teléfono: +52 833 236 7591</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
                        <a href="#" class="no-wrap">Correo: dentalcrown@gmail.com</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
                        <a href="#" class="no-wrap">Dirección: Adolfo López Mateos, Aviación Civil</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
                        <a href="#" class="no-wrap">Ciudad: Huejutla de Reyes, Hidalgo</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
                        <a href="#" class="no-wrap">Código Postal: 43000</a>
                    </li>
                </ul>
            </div>
            <div class="footer-list">
                <ul class="list">
                  <li>
                    <a href="https://drive.google.com/file/d/1vOOPz-OiVjDR1FjT9ChrCeSjSj-bJbXY/view" class="no-wrap" style="color: blue;">Política de Privacidad</a>
                    <i class="fa-solid fa-icon-relacionado" style="color: blue;"></i>
                  </li>
                  <li>
                    <a href="https://drive.google.com/file/d/1PaTXtBCBLqh_koV2_JadIlo7n8BfilL6/view?usp=sharing" class="no-wrap" style="color: blue;">Términos y Condiciones</a>
                    <i class="fa-solid fa-icon-relacionado" style="color: blue;"></i>
                  </li>
                  <li>
                    <a href="https://drive.google.com/file/d/1K2tnJqpRU07zoBxKTrCT0qOpPDjn2WHu/view" class="no-wrap" style="color: blue;">Política de Cookies</a>
                    <i class="fa-solid fa-icon-relacionado" style="color: blue;"></i>
                  </li>
                </ul>
              </div>
            <div class="footer-list">
                <div class="no-wrap h3">Redes Sociales</div>
                <ul class="list">
                    <li>
                        <a href="#" class="no-wrap">Facebook</a>
                        <i class="iconRS fa-brands fa-facebook" style="color: #ffffff;"></i>
                    </li>
                    <li>
                        <a href="#" class="no-wrap">WhatsApp</a>
                        <i class="iconRS fa-brands fa-whatsapp" style="color: #ffffff;"></i>
                    </li>
                    <li>
                        <a href="#" class="no-wrap">Instagram</a>
                        <i class="iconRS fa-brands fa-instagram" style="color: #ffffff;"></i>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>
