
<br><br>
<!-- src/app/app.component.html -->

<div style="text-align: center; margin-top: 50px;">
    <h2>Contacto</h2>
  
    <div style="display: flex; justify-content: space-between; margin: 0 50px;">
      <div style="width: 60%;">
        <div style="border: 1px solid #ccc; padding: 20px; border-radius: 5px;">
          <form style="width: 100%;">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" style="width: 100%; padding: 5px; margin-bottom: 10px;">
  
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" style="width: 100%; padding: 5px; margin-bottom: 10px;">
  
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" style="width: 100%; padding: 5px; margin-bottom: 10px;"></textarea>
  
            <button style="background-color: #4CAF50; color: white; padding: 10px 15px; border: none; cursor: pointer;">
              Enviar
            </button>
          </form>
        </div>
      </div>
  
      <div style="width: 35%;">
        <img src="assets/imagenes/home/dentist2.jpg" alt="Logo" style="width: 100%; border-radius: 5px;">
      </div>
    </div>
  </div>
  