<br><br>
<h2 class="gFjn3">Nuestros servicios</h2>
<div class="services">
    <div class="service">
        <img src="assets/imagenes/home/servicio1.jpg" alt="Servicio 1"><br>
        <div class="service-title">Extracciones dentales</div>
        <button class="fg3hSe2">Agendar</button>
    </div>
    <div class="service">
        <img src="assets/imagenes/home/servicio2.jpg" alt="Servicio 2">
        <div class="service-title">Limpieza dental</div>
        <button class="fg3hSe2">Agendar</button>
    </div>
    <div class="service">
        <img src="assets/imagenes/home/servicio3.jpg" alt="Servicio 3">
        <div class="service-title">Blanqueamiento dental</div>
        <button class="fg3hSe2">Agendar</button>
    </div>
    <div class="service">
        <img src="assets/imagenes/home/servicio4.jpg" alt="Servicio 4">
        <div class="service-title">Implantes dentales</div>
        <button class="fg3hSe2">Agendar</button>
    </div>
    <div class="service">
        <img src="assets/imagenes/home/servicio5.jpg" alt="Servicio 5">
        <div class="service-title">Ortodoncia</div>
        <button class="fg3hSe2">Agendar</button>
    </div>
    <div class="service">
        <img src="assets/imagenes/home/servicio6.jpg" alt="Servicio 6">
        <div class="service-title">Endodoncia</div>
        <button class="fg3hSe2">Agendar</button>
    </div>
</div>
  